.btn
{
    color: #404040;
    font-size: 14px;
    font-weight: 500;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn
{
    border: none;
    outline: none;
}
.btn.active
{
    color: #ffffff;
    background-color: #e44d3a;
    outline: none;
    border: none;
}
.btn.facebook
{
    width: 100%;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 0;
    background-color: #3b5999;
    margin-bottom: 20px;
}
.btn.twitter
{
    width: 100%;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 0;
    background-color: #55acee;
}