@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic-ext);

* {
    box-sizing: border-box;
}
body{
    background: #f9f9f9;
    margin: 0 auto;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.wrapper h1 {
    font-family: Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    display: block;
    text-decoration: none;
    }
img {
    display: block;
    max-width: 100%;
}
.wrapper {    
    margin: 0 155px;
    padding: 50px 45px 20px 45px;
    background: white;
    box-shadow: 0px 0 5px rgba(0, 0, 0, 0.79);
    font-family: 'Open Sans',sans-serif;
}
.menu li {
    float:left;
    border-right: 1px solid transparent;
}
.menu {
    margin: 40px 0;
    background: #444434;
    background: -webkit-linear-gradient(#444434,#5e5e5e);
    background: -o-linear-gradient(#444434,#5e5e5e); 
    background: -moz-linear-gradient(#444434,#5e5e5e);
    background: linear-gradient(#444434,#5e5e5e);
    color: white;
}
.menu li a {
    display: inline-block;
    line-height: 40px;
    padding-left: 23px;
    padding-right: 40px;
    color: white;
}
.menu li:hover {
    border-right-color: white;
    background: #2e2e2e;
    background: -webkit-linear-gradient(#2e2e2e,#4a4a4a);
    background: -o-linear-gradient(#2e2e2e,#4a4a4a); 
    background: -moz-linear-gradient(#2e2e2e,#4a4a4a);
    background: linear-gradient(#2e2e2e,#4a4a4a);
} 
.left_menu {
    float:left;
    width: 28%;
    color: gray;    
}
.left_menu a {
    line-height: 40px;
}
.content {
    float: right;
    width: 70%;
}
.content p {
    padding: 40px 25px;
    font-size: 12px;
    line-height: 1.5em;
    text-align: justify;
}
.left_menu li a {
    padding-left: 23px;
    -webkit-transition: padding-left 0.5s; 
    transition: padding-left 0.5s;
    color: #aaaaaa;
}
.left_menu ul {
    border: 1px solid #e1e1e1;
}
.left_menu li {
    border-bottom: 1px solid #e1e1e1;
}
.left_menu li:last-child {
    border-bottom: none;
}
.left_menu li:hover a {
    padding-left: 30px;
    color: black;
}

.menu.footer {
    background: #e1e1e1;
}
.menu.footer li a {
    color: black;
}
.menu.footer li a:hover {
    text-decoration: underline;
    background: #e1e1e1;
    border-right-color: transparent;
}
.menu.footer li:last-child {
    float:right;
    padding-right: 12px;
    line-height: 40px;
    color: black;
}
.menu.footer li:hover {
     background: #e1e1e1;
    border-right-color: transparent;
}