body {
 background-image:url(../img/images.jpg);
}
div {
    color:white;
}
a {
    color: aqua;
}
a:hover {
    color:deeppink;
    text-decoration: none;
    font-size: 110%;
}
li {
    list-style-image: url("../img/Right%20arrow%20(1).jpg")
}
.heder h1, address {
    text-align: center;
    }
.profile {
    margin-left: 80px;
    }
.profile p.profile1{
    display: inline;
}
.profile1{
    position: absolute;
    margin-top: 80px;
    margin-left: 150px;
    font-family: Arial,sans-serif;
    font-size: 18px;
    text-align: center;
}
span.profile2 {
    font-size: 26px;
}
div.areas p {
   text-decoration: underline;
    font-size: 22px;
}
div.work p {
   text-decoration: underline;
    font-size: 22px;
}
div.educ p {
   text-decoration: underline;
    font-size: 22px;
}
div.skills p {
   text-decoration: underline;
    font-size: 22px;
}
.areas ul,.work ul,.educ ul {
    position: relative;
    margin-left: 300px;
}
div.skills p.ts {
    font-size: 16px;
}
