.addPost
{
    position: relative;
    min-width: 525px;
    height: 101px;
    padding: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-items: space-between;
    align-items: center;
    background-color: #fff;
    border-top: 4px solid #e44d3a;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.addPost textarea
{
    border: 1px solid #e4e4e4;;
    outline: none;
    border-radius: 5px;
    max-height: 50%;
    overflow: hidden;
    padding: 5px;
    margin: 10px;
}
.addPost button
{
    display: block;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #e44d3a;
    color: #fff;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    font-weight: 500;
    cursor: pointer;
}