.users
{
    max-width: 1140px;
    position: relative;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.span
{
    margin: 10px;
    color: #dd3e2b;
}
.currentUser
{
    font-weight: bold;
}