@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap');
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
.App
{
    height: 100vh;
    display: grid;
    grid-template-columns: 70px 1fr;
    overflow: hidden;
}

