.preloader
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 50, 50, 0.42);
    z-index: 1000000;
}
.preloader img
{
    background: transparent;
    display: block;
    width: 300px;
    height: 300px;
}