@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul
{
  list-style: none;
}
a{
  text-decoration: none;
  outline: none;
}
.App {
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f2f2f2;
}
.content
{
  position: relative;
  margin: 0 auto;
  background-color: #f2f2f2;
}

/* social color*/

.fa-facebook-square
{
  color: #3b5999;
}
.fa-twitter-square
{
  color: #55acee;
}
.fa-google-plus-square
{
  color: #dd4b39;
}
.fa-behance-squar
{
  color: #131418;
}
.fa-pinterest-square
{
  color: #bd081c;
}
.fa-instagram
{
  color: #e4405f;
}
.fa-youtube-play
{
  color: #cd201f;
}
 

