@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic-ext);

*{
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    color: #2c2c2c;
    background-color: #f9f9f9;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 95%;
    max-width: 1060px;
    padding: 55px 47px 60px;
    margin: 0 auto;
    background-color: white;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    box-shadow: -2px 0 4px #e7e7e7, 2px 0 4px #e7e7e7;
}

.wrapper h1 {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 37px;
}


/* MENU */
.menu_main {
    background: linear-gradient(#444343, #5e5e5e);
}

.menu_main .menu_main__item {
    float: left;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    line-height: 40px;
    margin: 0 16px;
}

.menu_main .menu_main__item:hover {
    background: linear-gradient(#2e2e2e, #4a4a4a);
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    transition: all 0.2s;
}

.menu_main .menu_main__item:first-child {
    margin-left: 0px;
}

.menu_main .menu_main__item a,
.menu_main .menu_main__item.menu_main__item_dropdown {
    font-size: 15px;
    color: white;
    padding: 0 25px;
}

/* modifier for bottom menu */
.menu_main.menu_main_bottom {
    background: #e1e1e1;
}

.menu_main.menu_main_bottom .menu_main__item:hover {
    background: #e1e1e1;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.menu_main.menu_main_bottom .menu_main__item:last-child {
    float: right;
    margin-right: 20px;
}

.menu_main.menu_main_bottom .menu_main__item a {
    color: #2c2c2c;
}

.menu_main.menu_main_bottom .menu_main__item:hover a{
    text-decoration: underline;
}

/* submenu and dropdown item */
.menu_main .menu_main__item.menu_main__item_dropdown {
    position: relative;
}

.menu_main .menu_main__item.menu_main__item_dropdown:after {
    content: "";
    position: absolute;
    top: 45%;
    right: 10px;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: white;
}

.menu_main .menu_main__item.menu_main__item_dropdown:hover .menu_main__submenu{
    display: block;
}

.menu_main .menu_main__submenu {
    display: none;
    position: absolute;
    top: 40px;
    left: -30px;
    right: -30px;
    background: linear-gradient(#2e2e2e, #4a4a4a);
}

.menu_main .menu_main__submenu li {
    text-align: center;
}

.menu_main .menu_main__submenu li a{
    padding: 0 5px;
    line-height: 25px;
}

.menu_main .menu_main__submenu li:hover a {
    text-decoration: underline;
}

.main_wrapper {
    margin: 40px 0 57px;
}

.left_panel {
    float: left;
    width: 25%;
}

.side_menu {
    border: 1px solid #c8c8c8;
}
.side_menu li {
    border-bottom: 1px solid #c8c8c8;
    line-height: 38.5px;
}
.side_menu li:hover {
    padding-left: 15px;
    background-color: #f9f9f9;
    transition: all 0.2s;
}
.side_menu li:last-child {
    border-bottom: none;
}
.side_menu li a {
    padding-left: 22px;
    color: #2c2c2c;
}

.main {
    float: right;
    width: 70.4%;
}
.main img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.main p {
    line-height: 1.3;
    margin-top: 36px;
    padding: 0 26px;
}

@media (max-width: 970px) {
    .menu_main.menu_main_bottom .menu_main__item {
        display: none;
    }
    
    .menu_main.menu_main_bottom .menu_main__item:last-child {
        display: block;
    }
}

@media (max-width: 768px) {
 
    .menu_main .menu_main__item {
        float: none;
        text-align: center;
        margin: 0;
        line-height: 30px;
    }
    
    .menu_main .menu_main__submenu {
        position: static;
    }
    
    .left_panel {
        display: none;
    }

    .main {
        float: none;
        width: 100%;
    }
    
    .main p {
        text-align: justify;
    }
}

@media (max-width: 550px) {
    .wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
}