nav.navBar{
    position: relative;
    background: rgb(42,42,42);
    background: linear-gradient(180deg, rgba(42,42,42,1) 0%, rgba(0,0,0,1) 100%);
    min-height: 5vh;
    font-size: calc(10px + 2vmin);
    color: white;
}
nav.navBar div.wrapper
{
    text-align: center;
}
div.wrapper i#toggleBar
{
    margin: 10px 0;
    font-size: 32px;
    cursor: pointer;
}
nav.navBar #menu
{
    position: absolute;
    padding: 20px 40px;
    top: 50px;
    left: 0;
    width: 400px;
    display: block;
    background: rgb(42,42,42);
    background: linear-gradient(45deg, rgba(42,42,42,1) 0%, rgba(0,0,0,1) 40%);
    justify-content: space-around;
    list-style: none;
    color: #fff;
    z-index: 10;
}
nav.navBar #menu a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}