
.App {
 background: #ffffff;
}
.App .content
{
 margin: 0;
 padding: 60px 80px;
 display: flex;
 align-items: flex-start;
}
.content h2
{
 padding: 15px 20px;
 border-bottom: 1px solid #656565;
 margin: 0 0 20px;
}

