.userProfile {
    margin: 0 0 20px;
    padding: 0;
    min-width: 260px;
    background-color: #fff;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.mainInfo {
    min-height: 200px;
    position: relative;
}

.mainInfo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 40%;
    width: 100%;
    background: #e44d3a;
}

.mainInfo img {
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.mainInfo label {
    z-index: 20;
    position: absolute;
    top: 30%;
    left: calc(50% + 50px);
    transform: translate(-50%, -50%);
    background-color: #e44d3a;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainInfo label i {

    font-size: 14px;
    color: #ffffff;
}

.mainInfo label input {
    display: none;
}

.title {
    position: absolute;
    min-height: 140px;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 63px 0  0;
}
.details {
    position: relative;
}

.details ul {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.details ul p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    top: 0;
    right: 15px;
    height: 30px;
    width: 30px;
    transform: translate(-50%, -50%);
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 100;
    cursor: pointer;
}
.details ul p i
{
    display: block;
    height: 100%;
    font-size: 16px;
    color: #e44d3a;
    z-index: 101;
    cursor: pointer;
}
.details ul li {
    display: block;
    text-align: center;
    min-height: 81px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 15px 10px;
}
.details ul li.contactsForm
{
    height: auto;
}
.details ul li.contactsForm div.contacts
{
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 20px;
}
.details ul li.contactsForm div.contacts div.wrapper
{
    max-width: 140px;
}
.details ul form button
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    top: 0;
    right: 15px;
    height: 30px;
    width: 30px;
    transform: translate(-50%, -50%);
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 100;
    cursor: pointer;
}
.details ul form button i
{
    display: block;
    height: 100%;
    font-size: 16px;
    color: #e44d3a;
    z-index: 101;
    cursor: pointer;
}
.details ul form li.commonError
{
    background-color: rgba(227, 13, 13, 0.1);
    color: #922016;
    font-size: 18px;
}
.details ul li input
{
    margin: 0 auto;
    width: 80%;
    border: none;
    border-bottom: 1px solid #e44d3a;
    outline: none;
    padding: 0 10px;
    color: #666666;
}
.details ul li:first-child {
    border-bottom: none;
}

.details ul li h4 {
    margin: 0 0 10px 0;
    color: #151515;
    font-size: 20px;
    font-weight: bold;
}

.details ul li div.contacts {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.details ul li div.contacts b {
    margin-top: 5px;
    text-align: left;
    color: #a5a4a4;
}
.details ul li div.contacts span
{
    color: #5c70ff;
    cursor: pointer;
    width: calc(100% - 40px);
    overflow: hidden;
}
.details ul li span {
    color: #000000;
    font-size: 16px;
}

.details ul .lastLi {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    border: none;
}

.details ul li.lastLi a {
    text-decoration: none;
    outline: none;
    color: #e44d3a;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 0;
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}

/*Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .userProfile{
        min-width: 240px;
    }
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}