span.status
{
    display: block;
    margin-top: 25px;
    color: #686868;
    font-size: 18px;
}
input.statusInput
{
    margin-top: 25px;
    border: none;
    border-bottom: 1px solid #bd081c;
    outline: none;
}