button,
button.active,
button:hover
{
    outline: none;
}
.vertical
{
    display: flex;
    flex-direction: column;
}
.vertical button{
    display: inline-block !important;
    outline: none;
}
div button:first-child
{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
div button:last-child
{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
div.vertical button:first-child
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
div.vertical button:last-child
{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}