div.jobs
{
    position: relative;
    margin: 0 auto;
    max-width: 1140px;
    min-height: calc(100vh - 80px);
    background-image: url("./../../../../assets/img/page_under_construction.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}