@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.logoSearch
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoSearch img{
    width: 50px;
    border-radius: 5px;
    margin-right: 10px;
}
.logoSearch .logoDescription
{
    display: contents;
    margin: 0 0 0 10px;
    padding: 0;
    font-family: 'Courgette', cursive;
    color: #ffffff;
    font-size: 3rem;
    letter-spacing: 0.4rem;
    font-weight: bold;
}
