.users
{
    max-width: 1140px;
    position: relative;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.span
{
    margin: 10px;
    color: #dd3e2b;
}
.currentUser
{
    font-weight: bold;
}
/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}
/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .users
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
/*Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .users
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .users
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}
