/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700&display=swap');
*{
  transition: 0.5s;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&display=swap&subset=latin-ext');

/*variable*/
$OpenSans: 'Open Sans', sans-serif;
$OpenSansCodens: 'Open Sans Condensed', sans-serif;
$BLUE: #72d0f4;
$SocialBlue: #00bff0;
$RED: #ff0000;
$WHITE: #fff;
$GREY: #505961;
$LIGHTGrey: #8b9297;

.tooltip-main {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-weight: 700;
  background: #fff;
  border: 2px solid #fff;
  color: $SocialBlue;
  margin: 4px 10px 0 5px;
  float: left;
  text-align: left !important;
}
.tooltip-qm {
  float: right;
  margin: -2px 0px 3px 4px;
  font-size: 12px;
  background: #fff;
}

.tooltip-inner {
  margin-left: 40px;
  max-width: 236px !important;
  height: 20px;
  font-size: 12px;
  padding: 0 10px;
  background: #FFFFFF;
  color: $SocialBlue;
  border: none;
  text-align: left;
}

.tooltip.show {
  opacity: 1;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
  border-top-color: #fff;
}
.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-top-color: #f8f9fa;
  /* Red */
}

body{
  font-family: $OpenSans;
/*section header*/
  header
  {
    position: relative;
    height: 800px;
    background-image: url("../../../dist/img/gym8.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center 40%;
    #arrowDown
    {
      display: block;
      position: absolute;
      bottom: 2%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }
  /*section social*/
  section.social
  {
    position: relative;
    margin: 0;
    padding: 0;
    height: 40px;
    background: $SocialBlue;
    color: $WHITE;
    line-height: 40px;
    .phone
    {
      a{
        text-decoration: none;
        font-size: 12px;
        color: $WHITE;
        .fa
        {
          margin-right: 4px;
          font-size: 16px;
        }
      }
    }
    .socialNav
    {
      ul li{
        list-style: none;
        margin: 0 8px;
        a
        {
          text-decoration: none;
          font-size: 16px;
          color: $WHITE;
          transition: 0.3s;
        }
        a:hover{
          transform: scale(1.1);
        }
      }
    }
  }
  /*section navigation*/
  section.navigation
  {
    position: relative;
    height: 100px;
    background: $BLUE;
    color: $WHITE;
    .navbar-toggler
    {
      i.fa
      {
        color: $WHITE;
        font-size: 2rem;
      }
    }
    .navbar .navbar-nav .nav-item
    {
      height: 40px;
      text-align: center;
      border-radius: 3px;
      margin-right: 30px;
      .nav-link
      {
        display: block;
        margin: 0;
        padding: 0 20px;
        text-decoration: none;
        line-height: 40px;
        font-size: 13px;
        font-family: $OpenSans;
        font-weight: 600;
        color: $WHITE;
      }
    }
    .navbar .navbar-nav .nav-item.active
    {
      border: 1px solid $WHITE;
    }
    .navbar .navbar-nav .nav-item.drop
    {
      .sub-nav
      {
        display: none;
      }
    }
    .navbar .navbar-nav .nav-item.drop.submenu{
      background: $WHITE;
      .nav-link
      {
        color: $BLUE;
        position: relative;
      }
      .nav-link:before{
        content: ">";
        position: absolute;
        height: 100%;
        width: 30px;
        top: 0;
        left: -1px;
        color: $BLUE;
        transform: rotate(90deg);
        transition: transform 0.5s;
        transition-delay: 0.5s;
      }
      .sub-nav{
        display: block;
        position: absolute;
        top: 80px;
        height: 110px;
        width: 200px;
        border-radius: 4px;
        line-height: 35px;
        background: $WHITE;
        z-index: 100;
        .sub-link
        {
          display: block;
          width: 90%;
          margin:0 auto;
          font-weight: 600;
          font-size: 13px;
          color: $BLUE;
          position: relative;
          cursor: pointer;
        }
        .sub-link:hover
        {
          background: $BLUE;
          color: $WHITE;
        }
        .sub-link:hover:before{
          color: $WHITE;
        }
        .sub-link:before{
          content: ">";
          position: absolute;
          height: 100%;
          width: 20px;
          top: 0;
          left: -1px;
          color: $BLUE;
        }
      }
      .sub-nav:before{
        content: '';
        position: absolute;
        height: 10px;
        width: 10px;
        top: -5px;
        left: 10px;
        background-color: $WHITE;
        transform: rotate(45deg);
      }
    }
    .navbar-collapse.show
    {
      background: $BLUE;
    }
  }
  /*section intro*/
  section.intro
  {
    .aboutGym
    {
      padding: 60px 0;
      h1
      {
        margin: 20px;
        font-size: 38px;
        color: $GREY;
      }
      p
      {
        font-size: 16px;
        color: $LIGHTGrey;
      }
    }
    .live
    {
      max-height: 250px;
      position: relative;
      margin-bottom: 75px;
      .liveHeader
      {
        height: 50px;
        line-height: 50px;
        background-color: $BLUE;
        p
        {
          padding: 0 20px;
          font-size: 16px;
          font-weight: 600;
          color: $WHITE;
          span
          {
            font-style: italic;
          }
        }
        p:nth-child(2){
          font-size: 11px;

        }
      }
      .liveCam video
      {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        -o-object-fit: cover;
        border-bottom: 4px solid $SocialBlue;
      }
    }
    .classes
    {
      h2
      {
        color: $BLUE;
        font-family: $OpenSansCodens;
      }
      .wrapper
      {
        background-color: $SocialBlue;
        padding: 20px 20px 20px 30px;
        font-family: $OpenSans;
        height: 212px;
        .firstList, .secondList
        {
          width: calc(50% - 30px);
          p
          {
            border-bottom: 1px solid $WHITE;
            line-height: 30px;
            span
            {
              margin-left: 10px;
              font-size: 12px;
              color: $WHITE;
              cursor: pointer;
            }
            span:nth-child(1){
              margin: 0;
            }
            span:nth-child(2)
            {
              margin: 0;
              display: inline-block;
              width: 40%;

              margin-left: 5px;
              margin-right: 40px;
            }
          }
        }
        .secondList
        {
          position: relative;
          margin-left: 30px;
        }
        .secondList:before
        {
          content: '';
          position: absolute;
          width: 1px;
          height: 80%;
          top: 10%;
          left: -15px;
          background: $WHITE;
        }
      }
    }
    .membership
    {
      h2
      {
        color: $BLUE;
        font-family: $OpenSansCodens;

      }
      .membershipPrices
      {
        background-color: $SocialBlue;
        padding: 20px 20px 20px 0px;
        height: 212px;
        font-family: $OpenSansCodens;
        color: $WHITE;
        h3
        {
          margin-top: 30px;
          margin-bottom: 20px;
          font-size: 18px;

        }
        p
        {
          margin: 0 auto;
          font-family: $OpenSans;
          font-size: 12px;
        }
        button.memberBtn
        {
          display: block;
          margin: 15px auto;
          padding: 5px 20px;
          font-size: 14px;
          background: $SocialBlue;
          color: $WHITE;
          border: 1px solid $WHITE;
          border-radius: 3px;
          outline: none;
          cursor: pointer;
        }
        button.memberBtn:hover
        {
          background: $WHITE;
          color: $SocialBlue;
        }
      }
    }
  }
}