
@media (max-width: 575px) {

    #menu {
        display: block;
    }
    ul.navi{
        display: none;
    }
    .section .mainNav .nav ul.active {
        position: absolute;
        display: block;
        width: 100%;
        top: 100%;
        left: -100px;
        text-align: center;
        z-index: 5;
    }
    .section .mainNav .nav ul.active li{
        display: block;
        margin: 0 auto;
        height: 70px;
        line-height: 70px;
        font-size: 20px;
        background-color: rgba(35, 42, 46, 0.75);;
    }
    .section .mainNav .nav ul.active li a{
        height: 100%;
        text-align: center;
        line-height: 70px;
        font-size: 20px;
    }
    .snow1, .snow2{
        display: none;
    }
}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
    #menu {
        display: block;
    }
    ul.navi{
        display: none;
    }
    .section .mainNav .nav ul.active{
        position: absolute;
        display: block;
        width: 100%;
        top: 100%;
        left: -100px;
        text-align: center;
        z-index: 5;
    }
    .section .mainNav .nav ul.active li{
        display: block;
        margin: 0 auto;
        height: 70px;
        line-height: 70px;
        font-size: 20px;
        background-color: rgba(35, 42, 46, 0.75);;
    }
    .section .mainNav .nav ul.active li a{
        height: 100%;
        text-align: center;
        line-height: 70px;
        font-size: 20px;
    }
    .snow1, .snow2{
        display: none;
    }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
    #menu{
     display: none;
    }
    .snow1, .snow2{
        display: none;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
    #menu{
        display: none;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #menu {
        display: none;
    }
}