.tab-bar-nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    width: 100%;
    text-align: right;
    padding-right: 50px;
    margin-bottom: 70px;
}

.tab-container {
    width: 100%;
    padding-right: 75px;
    padding-left: 60px;
}

.vertical.tab-bar {
    display: flex;
    align-items: stretch;
}

.vertical .tab-bar-nav {
    box-sizing: border-box;
    flex-direction: column;
    flex: 1 0 30%;
}

.vertical .tab-container {
    box-sizing: border-box;
    flex: 1 0 70%;
    top: 0;
}

.vertical .tab-container {
    min-height: 200px;
    border-radius: 0 5px 5px 0;
}