.masseges
{
    min-height: 725px;
    position: relative;
}
.masseges .field
{
    width: 100%;
    padding: 10px;
    max-height: 705px;
    display: grid;
    background: #ffffff;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    overflow-y: scroll;
}
.field .myself
{
    width: 100%;
    height: auto;
    padding: 10px;
    justify-self: start;
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-items: start;
}
.field .myself img,
.field .interlocutor img
{
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.field .myself p
{
    align-self: flex-start;
    background-color: #efefef;
    color: #686868;
}
.field .interlocutor
{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    justify-self: end;
    display: grid;
    grid-template-columns: 5fr 1fr;
    justify-items: end;
}
.field .interlocutor img
{
    justify-self: center;
}
.field .interlocutor p
{
    background-color: #e44d3a;
    color: #fff;
}
.sendArea
{
    width: 100%;
    max-height: 120px;
    background-color: #f3f5f7;
    padding: 25px 20px 15px 20px;
    border: 1px solid #eeeeee;
}
.sendArea .formWrapper .form
{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #f3f5f7;
    border: none;
}
.sendArea .formWrapper input
{
    width: 80%;
    background-color: #fff;
    outline: none;
    color: #b2b2b2;
    font-size: 16px;
    padding: 0 15px;
    border: 1px solid #e6e6e6;
    height: 45px;
}
.sendArea .formWrapper button
{
    width: 17%;
    background-color: #e44d3a;
    height: 45px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    border: 0;
    margin-left: 15px;
    cursor: pointer;
}
p
{
    width: 60%;
    font-size: 14px;
    line-height: 22px;
    padding: 10px 35px 10px 35px;
    border-radius: 15px;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .sendArea
    {
        padding: 10px;
    }
    .sendArea .formWrapper button
    {
        width: 20%;
        height: 45px;
        margin-left: 5px;
    }
    p
    {
        width: 100%;
        font-size: 12px;
        line-height: 20px;
        padding: 10px 35px 10px 35px;
        border-radius: 15px;
    }
}