@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');
@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue.otf);
}
@BebasNeue: BebasNeue,sans-serif;
@colorWhite: white;
@colorBaner: #3DC5B5;
@colorHeaderMenu: #4CCFC1;
*{
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.header {
    padding: 20px 10% 20px 12%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .logo img {
        display: block;
    }
    .search {
        width: 44%;
        border: 1px solid #ECECEC;
        margin-left: 10px;
            i {
                right: 5px;
                color: #ECECEC;
            }
            input{   
                width: 90%;
                border: none;
            }}
    .basket {
        display: flex;
        align-items: center;
            & img{display: block;
                margin-right: 20px;}
            & p {
                font-family: @BebasNeue;
                font-weight: bold;
                font-size: 22px;
                color: #A1A1A1;}
        
    }
}

.headerMenu {
     background-color: @colorHeaderMenu;
        ul{ 
            padding: 0px 10%;
            li {
                 float: left;
                 padding: 8px 0;
                &:not(:nth-child(1)) a{
                            border-left: 1px solid white;}
                    a {
                    display: block;
                    padding: 0 22px;
                    color: @colorWhite;
                    line-height: 20px;
                    font-size: 21px;
                    font-family: @BebasNeue;
                    text-decoration: none;                    
                    }}}
}
.baner {
    padding: 60px 12% 55px 12%;
    background-color: @colorBaner;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color:@colorWhite;
    img {
        margin-left: 20px;
        display: block;
    }
    .upper {
        font-family: @BebasNeue;
        
        font-size: 80px;
    }
    .lower {
        font-family: @BebasNeue;
        font-size: 20px;
        font-weight: lighter;
        font-variant: small-caps;
    }
    .button {
        padding: 20px;
        display: inline-block;
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 2px solid #ffffff;
    }
    .scroll{
        position: absolute;
        right: 36%;
        bottom: 100px;
            p{
            float: left;
            margin-right: 10px;
            background-color: @colorWhite;
            border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            border: 4px solid #ffffff;
        }
    }
}